{% extends "/admin/layout.html"%}

{% block title %}Sign Up Page{%endblock%}

{%block content%}
    <ul>
        {% for sudo in admin%}
            <li> name: {{sudo.username}}, email: {{sudo.email}}, password: {{sudo.password}}, ID: {{sudo.id}} </li>
            <a class="btn" href="{{url_for('product_change', id=sudo.id)}}">change</a>
        {% endfor %}    
    </ul>


        <form action="{{ url_for('register')}}" method="POST">
            {{ form.hidden_tag() }}
            {{form.username.label(class="form-label")}}
            {{form.username(class="form-control")}}
            <br/>
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
            <br/>
            {{form.password.label(class="form-label")}}
            {{form.password(class="form-control")}}
            <br/>
            {{form.submit(class="btn btn-primary")}}
        </form>
        <a href="/admin/login ">Already Have A Acouunt</a>

{%endblock%}