{% extends "/admin/layout.html"%}
<title>Sign Up Page</title>  

{%block content%}
<center>
    <div class="container">
        <form action="">
            <p class="login-username">Username:</p>
            <input type="text">
            <p class="login-username">Email:</p>
            <input type="email">
            <p class="login-password">Password:</p>
            <input type="password" name="password" id="password">
            <input type="submit" value="Submit">
        </form>
        <a href="/admin/login ">Already Have A Acouunt</a>
    </div>
</center>
{%endblock%}