{% extends "/admin/layout.html"%}
<title>Sign Up Page</title>  

{%block content%}
    {% if name %}
        <h1>Hello {{name}}</h1>
        <h1>your email is {{email}} </h1>
        <h1>your password is {{password}} </h1>
    {%else%}
        <form method="POST">
            {{ form.hidden_tag() }}
            {{form.username.label(class="form-label")}}
            {{form.username(class="form-control")}}
            <br/>
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
            <br/>
            {{form.password.label(class="form-label")}}
            {{form.password(class="form-control")}}
            <br/>
            {{form.submit(class="btn btn-primary")}}
        </form>
        <a href="/admin/login ">Already Have A Acouunt</a>
    {%endif%}
{%endblock%}